


/*HEADER STYLES*/


/*$start-gradient-color: #B4CEB3
$end-gradient-color: #4C2C69

.simple-gradient
  +linear-gradient($start-gradient-color, $end-gradient-color)
  height: 400px*/


/*LAYOUT STYLES*/


/*Components & fonts */


/*#image {
  background-image: url("../img/computer.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/
