
/*BASE STYLES*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0px;
}

/*HEADER STYLES*/
$start-gradient-color: #B4CEB3
$end-gradient-color: #4C2C69

.simple-gradient
  +linear-gradient($start-gradient-color, $end-gradient-color)
  height: 400px

/*LAYOUT STYLES*/

.post {
 width: 50%;
 margin: 5% 24%;
  background-color: #EFF9F0;

}
