/*HEADER STYLES*/

 header {
  background-color: $secondary-color;
  height: 20%;
  @include border;
  margin-left: 2%;
  margin-right: 2%;
    h1 {
    margin: 0;
    color: $primary-color;
    @extend %centerText;
  }
    li {
    display: inline;
    list-style-type: none;
  }
    a {
    color: $primary-color;
    background-color: #EFF9F0;
    padding: 8px;
    margin-right: 4px;
    border-radius: 10px;
      &:hover {
    font-weight: bold;
    }
  }
}

$start-gradient-color: $secondary-color
$end-gradient-color: $primary-color

.simple-gradient
  +linear-gradient($start-gradient-color, $end-gradient-color)
  height: 300px
