/*HEADER STYLES*/

 header {
  background-color: #B4CEB3;
  height: 18%;
  border: 2px solid #a6a6a6;
  border-radius: 15px;
  margin-left: 2%;
  margin-right: 2%;
}

header h1 {
  margin: 0;
  color: #4C2C69;
  text-align: center;
}

header li {
  display: inline;
  list-style-type: none;

}

header a {
  color: #4C2C69;
  background-color: #EFF9F0;
  padding: 8px;
  margin-right: 4px;
  border-radius: 10px;
}

header a:hover {
  font-weight: bold;
}
