// COMPONENT AND IMAGE STYLES

button {
  background-color: $primary-color;
  @include border;
  color: white;
  font-family: 'Josefin Slab', serif;
}

img {
width: 300px;
height: 150px;
display: block;
margin: 0 auto;
}
