// BASE STYLES

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Josefin Slab', serif;
}

container {
margin: 0 px;
width: 100%;
height: auto;
}
